<div class="jumbo">
  <h2>Welcome</h2>
  <p>
    The site for all your wagers, bets, and gambles
    <br>
    We are under construction
  </p>
</div>
{{#each model as |user|}}
  <article class="to-be-determined">
    <h2>{{user.name}}</h2>
    <div>
      <span>Email:</span> {{user.email}}
    </div>
  </article>

  

{{/each}}
